*{
  box-sizing: border-box;
  font-family:'Mulish';
  white-space: 'pre-wrap';
}
h3{
  margin-bottom: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#bg {
  background-color: aliceblue;
  min-height: 100vh;
  position: absolute;
  left: 0;
  width: 100%;
}
#title {
  background: url(./images/title_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#title *{
  text-align: left;
  margin-left: 20%;
  margin-bottom: 20px;
  margin-right: 20%;
  color: white;
}

#title h1{
  margin-top: 0px;
  padding-top: 3vw;
  font-size: 2vw;
}

#title h2{
  font-size: 1.5vw;
}

#title p{
  font-size: 1vw;
  padding-bottom: 1vw;
}

#filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20%;
  margin-right: 20%;
}

#filter *{
  padding: 8px;
  margin-right: 8px;
  border-radius: 7px 7px 0px 0px;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
#filter *:hover{
  background-color: #eeeeee;
}
#filter *.active{
  background-color: #e7e5e5;
}

#defitable {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
}
#defitable table{
  border: none;
  border-collapse: collapse;
  width: 100%;
}
#defitable th{
  cursor: default;
}
#defitable th,td{
  padding-left: 10px;
  text-align: left;
  font-size: 1vw;
}
#defitable tr{
  height: 40px;
  cursor: pointer;
}

#defitable tr:nth-child(even) {background-color: #d4d4d4;}

#infotop *{
  box-sizing: border-box;
  text-align: left;
  padding-left: 15%;
  margin-bottom: 20px;
  padding-right: 15%;
  background: url(./images/title_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

#infotop h1{
  margin-top: 0px;
  padding-top: 3vw;
  font-size: 2vw;
  padding-bottom: 1vw;
  cursor: pointer;
}

#infotitle{
  text-align: left;
  margin-left: 15%;
  margin-bottom: 10px;
  margin-right: 15%;
}

.infopage{
  text-align: left;
  margin-left: 15%;
  margin-bottom: 20px;
  margin-right: 15%;
}
.infolist-a{
  float: left;
  width: 30%;
}
.infolist-b{
  float: right;
  width: 68%;
}
.infolist-c{
  float: left;
  width: 75%;
}
.infolist-d{
  float: right;
  width: 25%;
  padding-left: 9%;
  padding-top: 3%;
}

div[class="infoitem"]{
  width: 100%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
  background-color: white;
}
[class="infoitem"] h3{
  padding-left: 7px;
  padding-top: 10px;
}
[class="infoitem"] table{
  margin-left: 0px;
  width: 95%;
}
[class="infoitem"] tr{
  font-size: 13px;
  height: 30px;
  margin: 0px;
}
[class="infoitem"] p{
  padding-left: 7px;
  padding-bottom: 10px;
}


td[id="head"]{
  text-align: left;
}
td[id="data"]{
  text-align: right;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color:#151a5c;
  text-decoration: underline;
}

[class="chart_left"] {
  float: left;
  margin-top: 0px;
}

[class="chart_right"] {
  float: right;
  margin-right: 7px;
  margin-top: 0px;
}

span.active {
  color : blue;
  text-decoration: underline;
}

[class*="chart_"] span:hover {
  color : #151a5c;
  text-decoration : underline;
  cursor : pointer;
}

[class="righth3"]{
  text-align: right;
}

[class="centerh3"]{
  text-align: center;
}

[class="padbottom"]{
  padding-bottom: 10px;
}

p.b{
  font-weight: bold;
}

span.infobox{
  padding-left: 7px;
  margin-bottom: 7px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.tooltip {
  background-color: aliceblue;
  padding: 2px;
  border-radius: 2px 2px 2px 2px;
}